.desk-Logo--light{
    width: 180px;
}
nav{
    position: fixed;
    top: 0;
    z-index: 100000;
    width: 100%;
    background: rgba(255, 255, 255, 0.253);
    backdrop-filter: blur(40px);
}
.navWrap{
    padding: 35px 120px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navList{
    display: flex;
    gap: 30px;
}
a:hover{
    color: var(--color-primary);
}
.mobile-logo{
    display: none;
}
.mobileHam{
    display: none;
}
.hamlist{
    display: none;
}



@media screen and (max-width: 600px) {
    .mobileHam{
        display: block;
    }
    .mobile-logo{
        display: block;
        width: 30px;
    }
    .navList{
        display: none;
    }
    .desk-Logo--light, .desk-Logo--dark{
        display: none;
    }
    .navWrap {
        padding: 35px 30px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navBttn{
        display: none;
    }
    .authPage {
        padding-top: 89px;
        padding-bottom: 140px;
    }
    .hamBox{
        height: 30px;
        width: 30px;
    }
    .hamBox-close{
        height: 30px;
        width: 30px;
        display: none;
    }
    .hamlist{
        height: 50vh;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 100;
        display: none;
        
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.167);

        /* change */
        background: white; 
    }
    .hamlist{
        padding: 160px 60px 0;
    }
    .hamlist li p{
        padding-bottom: 30px;
        font-family: subText-Bold;
        font-size: 30px;
    }
    .hamBttn{
        padding-top: 60px;
    }
}